<a href="https://colab.research.google.com/github/sankalpsroy/PandasPractice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import pandas as pd

In [2]:
# check the version of pandas
print(pd.__version__)

1.3.5

In [3]:
# list of data values
stocks = ['PLW', 'CDR', '11B', 'TEN']

# creating and printing a pandas series
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object