<a href="https://colab.research.google.com/github/sankalpsroy/PandasPractice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import pandas as pd

In [2]:
# check the version of pandas
print(pd.__version__)

1.3.5

In [3]:
# list of data values
stocks = ['PLW', 'CDR', '11B', 'TEN']

# creating and printing a pandas series
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [4]:
# adding another feature as a dictionary pair
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [5]:
# printing 'quotations' to list
print(quotations.to_list())

[387.0, 339.5, 349.5, 391.0]

In [6]:
# converting series to dataframe
# quotations = pd.DataFrame(quotations, columns=['price'])            ''' One of the ways to code '''
print(quotations.to_frame(name='price'))

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0